<div class="container" style="padding-bottom: 40px;">
  <h1> User List </h1>
  {{#each users}}
    <div class="row">
      <div class="col-sm-3">
        <p> Username: <strong>{{this.username}} </strong></p>
    </div>
    {{#if this.role}}
      <div class="col-sm-3">
        <p> Role: {{this.role}}</p>
      </div>
      {{else}}
      <div class="col-sm-3">
        <p> Role: User</p>
      </div>
      {{/if}}
  </div>

  {{/each}}

  <div class="row text-center">
    <a href="/admin/user/new" class="btn btn-primary"> Create new admin </a>
  </div>
</div>
