<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
  </head>
  <body>
    <h2>Shopping Cart</h2>
    <h2>Products</h2>
    {{#each products}}
    <h3><img src="{{imageUri}}" width="43" height="43"/> <h2>{{title}}</h2> <a class="btn btn-primary" href="">Add Another</a> <a class="btn btn-primary" href="">Remove</a></h3>
    {{/each}}
    <h3>Total: $ </h3>

    <form class="" action="" method="" style="margin: 30px">
      <button class="btn btn-success">Empty Track</button>
    </form>
    <form class="" action="/logout" method="get" style="margin: 30px">
      <button class="btn btn-success">Checkout With Stripe</button>
    </form>
    <form class="" action="/logout" method="get" style="margin: 30px">
      <button class="btn btn-success">Log Out</button>
    </form>
  </body>
</html>
