<a class="btn btn-danger" href="/logout">Logout</a>
<div class="product-container">
  <h2> Shopping Cart </h2>


  <form action="/checkout" method="POST">
    Enter Customer Information:
    First Name: <input type="text" name="fname" placeholder="First Name">
    Last Name: <input type="text" name="lname" placeholder="Last Name">
    E-mail: <input type="email" name="email" placeholder="E-mail">
    Billing Address <input type="text" name="billingAddress">
    City: <input type="text" name="city">
    State: <input type="text" name="state">
    Zip Code: <input type="number" name="zip">
    Country: <input type="text" name="country">
    Home Phone: <input type="number" name="home-phone">
    Shipping Address <input type="text" name="shippingAddress">
    <br/>
    Enter Credit Card Information:
    Credit Card #: <input type="number" name="credit-card">
    Expiry Date: <input type="number" name="credit-card">
    Card Verification Number: <input type="number" name="cvc">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<PUBLISHABLE_KEY>"
      data-amount="999"
      data-name="Demo Site"
      data-description="Widget"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
    </script>
  </form>


  <table class="table table-hover">
  <tbody>
    {{#each items}}
    <tr>
      <td> <img width="200px" src="{{product.imageUri}}" /> </td>
      <td> {{product.title}} </td>
      <td> <a href="/"> Add another </a> </td>
      <td> <a href="/"> Remove </a> </td>
      <td> {{product.price}} </td>
    </tr>
    {{/each}}
    <tr>
      <td> Total: ${{product.price}} </td>
      <td> <a class="btn btn-danger" href="/" >Empty Cart</a> </td>
      <td> <a class="btn btn-primary" href="/" >Checkout With Stripe</a> </td>
    </tr>
  </tbody>
</table>
</div>
