<h2>Shopping Cart</h2>
<a class="btn btn-default" href="/logout">Log out</a>
<div class="item">
  <img src="{{imageUri}}" alt="{{title}}" style="width:100px">
  <h4 style="float:left">{{title}}</h4>
  <a href="#">Add another</a>
  <a href="#">Remove</a>
</div>
