<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
  </head>
  <body>
    <h1>Shopping Cart</h1>

    {{#each products}}
    <div style="display: inline-block; margin-left: 39px">
    <h3>
      <img src="{{[0].imageUri}}" width="71" height="71"/>
      <h3>{{[0].title}}</h3>
      <span>${{[0].price}} X {{length}}</span>
    </h3>

    <div>
      <form action="/cart/add/{{[0]._id}}" method="POST" style="display: inline-block">
        <input type="submit" value="Add Another">
      </form>
      <form action="/cart/delete/{{[0]._id}}" method="POST" style="margin-left: 13px; display: inline-block">
        <input type="submit" value="Delete">
      </form>
    </div>
    </div>
    {{/each}}

    <h3 style="margin-top: 59px">Total: ${{totalAmount}}</h3>

    <form action="/cart/delete" method="POST" style="margin: 0px; display: inline-block">
      <button class="btn btn-success">Empty Track</button>
    </form>

    <form class="" action="/logout" method="get" style="margin: 5px; display: inline-block">
      <button class="btn btn-success">Checkout With Stripe</button>
    </form>

    <form class="" action="/logout" method="get" style="margin: 5px; display: inline-block">
      <button class="btn btn-success">Log Out</button>
    </form>

    <form action="/cart/checkout" method="POST" style="margin-top: 33px">
      <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{publishable_key}}"
      data-amount="999"
      data-name="Demo Site"
      data-description="Widget"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
      </script>
    </form>

  </body>
</html>
