<h1>Shipping Information</h1>
<form action="/checkout" method="post">
  <div class="form-group">
    <input type="text" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" name="address" placeholder="Address">
  </div>
  <div class="form-group">
    <input type="text" name="city" placeholder="City">
  </div>
  <div class="form-group">
      <input type="text" name="state" placeholder="State">
  </div>
  <div class="form-group">
    <input type="number" name="zip" placeholder="Zip Code">
  </div>
  <div class="form-group">
    <input type="submit" name="ship" value="Continue">
  </div>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_2Ih8SFBhu8mlJbbsTfeWUTxM"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
  </form>
