<form action="/cart/checkout" method="POST">
  <input type="text" name="name" placeholder="Name">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{key}}"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>
