<div class='checkout'>
  <h1>Checkout with Stripe</h1>
  <h3>Amount Due: ${{total}}</h3>
  <form action="/cart/stripe/checkout" method="POST">
    <input type="text" name="name" placeholder="Name">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{public_key}}"
      data-amount="999"
      data-name="Demo Site"
      data-description="Widget"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto">
    </script>
  </form>
</div>
