<a href="/logout" class="btn btn-danger" role="button">Logout</a>

<h1>Order Confirmation</h1>

Order Id: {{id}}


<h3>Credit Card Informaiton</h3>

<p>Last 4 Digits of Credit Card: {{fourdigit}}</p>
<p>Expiration Date: {{exp}}</p>
