<h2 class="center">Logged in as {{user.username}}</h2>
<h3>All Products</h3>
<table class="table table-hover">
  <!-- <thead>
    <td><b>Name</b></td>
    <td><b>Phone</b></td>
    <td><b>Actions</b></td>
  </thead> -->
  <tbody>
{{#each products}}
  <tr>
    <td>{{title}}</td>
    <td>{{description}}</td>
    <td><img src="{{imageUri}}"></td>
  </tr>
{{/each}}
  </tbody>
</table>
<a class="btn btn-primary" href="/messages">View all messages</a>
