<!DOCTYPE html>
<html>
  <head>
    <title>Hamazon</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class = "header">
      <h1 class = "title">Hamazon</h1>
      <a href="/users/cart"><img id = "shopping-cart-img" src="http://fla.fg-a.com/shopping-cart/shopping-cart-black-3.png"></a>
    </div>
    <div class = "content">
      {{{body}}}
    </div>
    <div class = "footer">
      <form action="/logout" method="GET">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
  </body>
</html>
