<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="row" id="header">
      <div id="left_side"><a href="/"><h1 id="homazon-title" class="text-left">Homazon</h1></a></div>
      {{#if notLoggedIn}}
      {{else}}
        <div id="right_side">
          <a href="/cart" class="btn btn-danger" type="button">Cart</a>
          <a id="logout" href="/logout"><h5 class="text-right">logout</h5></a>
        </div>
      {{/if}}
    </div>
    {{{body}}}
  </body>

  <style>
    body {
      background: linear-gradient(90deg, #f4f2f2, #ffffff, #f4f2f2);
      width: 100%;
      padding: 0;
      /*background: radial-gradient(ellipse, rgba(181, 181, 181, 0.42), rgba(124, 118, 118, 0.45));*/
    }
    #header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 4px double  #d9534f;
      /*background: linear-gradient(rgb(11, 69, 163),  rgb(17, 108, 255));*/
    }
    #header div {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 5px;
    }
    #left_side {
      flex: 7;
    }
    #homazon-title, #header h5 {
      color: #d9534f;
    }
    #right_side {
      flex: 1;
      display: flex;
      align-items: center;
    }
    #right_side * {
      flex: 1;
    }
  </style>
</html>
