<h1>Hello log in to Homezons below: </h1>

<form class="form-group" action="/login" method="post">
  Username: <input class=".form-control" type="text" name="username" value="">
  Password: <input class=".form-control" type="password" name="password" value="">
  <input type="submit" class="btn btn-success" value="Log in">
</form>

<a href="/signup">Click here to open an account on Homezon</a>
