<div class="col-xs-4">
  <h2><a href='/signup'>Go to Sign Up</a></h2>
</div>
<div class="col-xs-4">
  <h1>Login</h1>
  <form method="POST" action="/login">
    <div class="form-group">
      <label for="usrname-label">Username</label>
      <input type="text" name="username" class="form-control" id="username-input" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password-label">Password</label>
      <input type="password" name="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    <input type="submit" class="submit" value="submit" />
  </form>
</div>
