<form  class="box" method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; padding: 30px 30px 30px 30px">
<h3>
  <div>
    <img class= "login" src="register-login-add-on.png" >
  </div>
</h3>
  <div class="form-group">
    <label>Username</label>
    <input type="text" name="username" class="form-control">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn btn-success">Login</button>
  </div>
</form>


<style>
.form{
  background-color: white;
}

.login{
  display: block;
  margin: auto;
  width: 100%;
}
.box{
  background-color: white;
}
</style>
