<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
  </head>
  <body>
    <form method="post">
      <div class="" style="margin:70px">
        <div class="form-group" style="width:30%">
          <label>Username</label>
          <input type="text" name="username" class="form-control" value="">
        </div>
        <div class="form-group" style="width:30%">
          <label>Password</label>
          <input type="password" name="password" class="form-control" value="">
        </div>
        <br>
        <div class="form-group" id="login">
          <button class="btn btn-success">Log  In</button>
        </div>
      </form>
      <br>
      <form id="signup" action="/signup" method="get">
        <button class="btn btn-success">Sign Up</button>
      </form>
      
    </div>

  </body>
</html>
