<div>
  <form method="post">
    <input type="text" name=username placeholder="Login Here!" required><br></br>

    <input type="password" name=password placeholder="Password" required><br></br>
    <input type="submit" value="log in!">
    </form>
    <a href="/signup">Signup instead</a>
</div>
