<h1>Logging in</h1>
<form method="post">
  <div class="">
    Username
    <input type="text" name="Username" value="">
  </div>
  <div class="">
    Password
    <input type="password" name="Password" value="">
  </div>
  <input type="submit" name="" value="Login!">
  <div>
    <a href="/signup"><button type="button" name="button">Register for an account </button></a>
  </div>
</form>
