<a href="/register">Sign up</a>
<br>
<br>
<form class="" action="/login" method="post">
  <input type="text" name="username" value="" placeholder="Name"> <br>
  <input type="text" name="password" value="" placeholder="Password">
  <br>
  <input type="submit" name="login" value="Log In">
</form>
<br>
