<a href='/signup'><button>Sign up</button></a>
<button>Login</button>
<form method="POST" action="/login" style="display:block;">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="submit" value="Login">
</form>
