<h2>Login</h2>
<a href="/signup">Signup</a>
<p>{{error}}</p>
<form class="" method="post">
  <input type="email" name="username" value="" placeholder="Email">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="submit" name="" value="Login">
</form>
