<img class="column col-xs-3" src="{{product.imageUri}}">
<h3>{{product.title}}</h3>
<p>{{product.description}}</p>
<button class="btn btn-default" href='/cart' style="margins: ">add to cart</button> <br>
<a href="/products"> back to shopping </a>
