<h1>Products</h1>
<ul>
{{#each products}}
<li><a href="/product/{{_id}}">{{title}}</a></li>
{{/each}}
</ul>
<p>Your shopping cart contains {{numItems}} items</p>
<a href="/shippinginfo">Create of change your shipping info here!</a>