<a class="btn btn-primary btn-danger" href="/logout">Logout</a><br>
<div>
  <h3><b>{{product.title}}</b></h3><br/>
  <img width="200px" src="{{product.imageUri}}"/>

  {{product.description}}

</div>

<a class="btn btn-primary" href="/cart/add/{{product._id}}">Add to Cart</a>
