<a href="/" class="btn btn-default">Back</a>

<h2>{{product.title}}:</h2>
<a class="btn btn-primary" href="/cart/add/{{product.id}}">Add to Cart</a>


<div class="product-box">
    <img src="{{product.imageUri}}" height="30%" width="30%">
    <div class="information">
        <p>{{product.description}}</p>
    </div>
</div>

<style>
    .product-box {
        text-align: left;
        clear: left;
        border-top: solid black 3px;
        border-left: solid lightgrey 3px;
    }

    .information {
        margin-top: 5px;
    }

    img {
        float: left;
        margin-right: 20px
    }

    a {
        margin-top: 5px;
        float: right;
    }

    p {
        font-size: 20px;
    }
</style>