<div class="">
  {{product.title}}, {{product.description}}
  <img src="{{product.imageUri}}" alt="" />
  <form class="" action="/cart/add/{{product._id}}" method="post">
    <input type="submit" name="" value="Add to cart">
  </form>
</div>
