<div class="col-xs-offset-8 col-xs-4">
  <form action="/logout" method="get">
    <button type="submit" class="btn btn-primary">Log Out</button>
  </form>
</div>

<div style="font-size:30px">
  {{product.title}}
</div>
<img src="{{product.imageUri}}" alt="product image" style="width:200px">
<div>
  {{product.description}}
  <form action="/cart/add/{{product._id}}" method="post">
    <button type="submit" name="addToCart">Add to Cart</button>
  </form>
</div>
