<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>{{title}}</h2>
        <img src="{{imageUri}}" alt="">
        <h5>{{description}}</h5>
    </body>
</html>
