<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Single Product</title>
  </head>
  <body>
    <h1>Product Details</h1>
    <div><img src="{{product.imageUri}}"/></div>
    <h2><div>{{product.title}}</div></h2>
    <div>{{product.description}}</div>

    <form method="post" action="/cart/add/{{product._id}}">
      <input type="submit" value="Add to cart"/>
    </form>
  <body>
</html>
