<a class="btn btn-danger" href="/logout">Logout</a>
<div class="product-container">
  <table class="table table-hover">
  <tbody>
    <tr>
      <td> <img width="200px" src="{{product.imageUri}}" /> </td>
      <td> {{product.title}} </td>
      <td> {{product.description}} </td>
      <td> <a class="btn btn-primary" href="/cart" >Add To Cart</a> </td>
    </tr>
  </tbody>
</table>
</div>
