<h2>{{product.title}}</h2>
<a href="/">View all products</a>
<div class="product-container">
  <h4>{{product.title}}</h4>
  <img src="{{product.imageUri}}" alt="No picture available">
  <p>{{product.description}}</p>
</div>
