<div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src={{imageUri}}>
      </div>
      <div class="card-stacked">
        <div class="card-action">
          <a href="#">{{title}}</a>
        </div>
        <div class="card-content">
          <p>{{description}}</p>
        </div>
      </div>
    </div>
  </div>
<a class="waves-effect waves-light btn pulse"><i class="material-icons left">add_shopping_cart</i>Add to Cart</a>
