<div class="container">
  <h1> {{product.title}} </h1>
    <div class="row">
      <div class="col-sm-5"><img class="col-sm-12" src="{{product.imageUri}}"></div>
      <div class="col-sm-7">
        <p> {{product.description}}</p>

      </div>
      <a href="/cart/add/{{product._id}}" class="add-cart btn btn-info">Add to cart</a>
  </div>

</div>
<script src="/javascripts/product.js"></script>
