<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div style="width: 250px; display:inline-block">
        <img src="{{product.imageUri}}" style="float-left; width:100%; height: auto;">
      </div>
    </div>
    <div class="col-md-5 col-lg-5">
      <h1>{{product.title}}</h1>
      <p>{{product.description}}</p>
    </div>
    <div class="col-md-2">
      <div style="border: 1px solid black; height: 150px; text-align: center;">
        <h2 >Buy</h2>
        <a href="#" class="btn btn-default">Buy Now</a>
      </div>
    </div>
  </div>
</div>