<div style="max-width: 520px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
<h2>Your Profile</h2><br>

<h4><strong>Username:</strong> {{user.username}}</h4>
<h4><strong>Shipping Information:</strong> {{this.address}}</h4><br>

<a class="btn btn-primary" href="/profile/shipping">Edit Shipping</a>
<a class="btn btn-primary" href="/profile/payment">Edit Payment</a>
<a class="btn btn-default" href="/cart">Cart</a>
<a class="btn btn-success" href="/">Back</a>
<a class="btn btn-danger" href="/logout">Logout</a>

</div>
