<h1>Registering</h1>
<form method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="password" name="repeatPassword" value="" placeholder="Repeat Password">
  <input type="submit" name="" value="Register!">

</form>
