<h1>Hello sign up for Homezon below:</h1>

<form class="form-group" action="/signup" method="post">
  Username: <input class=".form-control" type="text" name="username" value="">
  Password: <input class=".form-control" type="password" name="password" value="">
  <input type="submit" class="btn btn-success" value="Register">
</form>

<!-- {{#if err}}
{{#each err}}
<h3>{{errors}}</h3>
{{/each}}
{{/if}} -->
