<h2>Signup</h2>
<a href="/login">Login</a>
<p>{{error}}</p>
<form class="" method="post">
  <input type="email" name="username" value="" placeholder="Email">
  <input type="password" name="password" value="" placeholder="Password">
  <input type="password" name="passwordRepeat" value="" placeholder="Repeat Password">
  <input type="submit" name="" value="Signup">
</form>
