<form id="signup-form" action="/signup" method="POST" role="form">
    <legend>Sign up form</legend>
    <div class="form-group">
        <label for="">Username</label>
        <input name="username" type="text" class="form-control" id="" placeholder="">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input name="password" type="password" class="form-control" id="" placeholder="">
    </div>
    <div class="form-group">
        <label for="">Repeat Password</label>
        <input name="passwordRepeat" type="password" class="form-control" id="" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
