<div class="container box">
<div class="row">
    <h3 class="col-xs-6 col-xs-offset-3 text-center header-style">
      Signup for Messanger!
    </h3>
    <div class="col-xs-3 login-signup-links text-center">
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>

    </div>
  </div>

  <form method="POST" class = "signup-login-form col-xs-offset-0">
      <input type="text" class="col-xs-6 col-xs-offset-3 form-input-box" name="username" placeholder="Username" autofocus="autofocus"><br />
      <input type="password" class="col-xs-6 col-xs-offset-3 form-input-box" name="password" placeholder="Password"><br />
      <input type="password" class="col-xs-6 col-xs-offset-3 form-input-box" name="passwordRepeat" placeholder="Confirm Password"><br />
      <input type="submit" name="" class="col-xs-2 col-xs-offset-5 form-input-box form-buttons form-button-alignment" value="Sign Up">

  </form>
</div>
