<div class="container">
  <div class="row">
    <h4 class="center-align">Sign Up</h4>
  </div>
  <hr>
  <div class="row">
    <form class="col s12 offset-s3" action="/signup" method="post">
      <div class="row"> <!-- Name field -->
        <div class="input-field col s6">
          <input id="username" name="username" type="text" class="validate">
          <label for="name">Username</label>
        </div>
      </div>

      <div class="row"> <!-- Password field -->
        <div class="input-field col s6">
          <input id="password" type="password" name="password" class="validate">
          <label for="password"> Password </label>
        </div>
      </div>

      <div class="row"> <!-- Re-enter Password field -->
        <div class="input-field col s6">
          <input id="passwordRepeat" type="password" name="passwordRepeat" class="validate">
          <label for="passwordRepeat"> Re-enter Password </label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light blue" type="submit" name="signup">Sign Up</button>
        <a class="waves-effect waves-light btn grey lighten-2" href="/login" id="loginbtn">Log In</a>
      </div>
    </form>
  </div>
</div>
