<h1>Signing up</h1>
<form method="post">
  <div class="">
    Username
    <input type="text" name="username" value="">
  </div>
  <div class="">
    Password
    <input type="password" name="password" value="">
  </div>
  <input type="submit" name="" value="Register!">
</form>
