<div class="form-container">
  <form method="POST" style="max-width: 500px; margin: auto; border: 0.5px solid gray; padding: 30px 30px 30px 30px; background-color: white">
    <h3>Sign-Up</h3>
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password" class="form-control">
    </div>
    <div class="form-group">
      <label>Verify Password</label>
      <input type="password" name="passwordRepeat" class="form-control">
    </div>
    <div class="form-group">
    <div class="button_box">
      <a class="btn btn-primary login" href='/login'>Go to Login</a>
      <button class="btn btn-primary login">Sign-Up</button>
      {{error}}
    </div>
  </div>
  </form>
</div>

<style>

body {
  background-color: #abdeff
}

.button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px
}

.login {
  width: 100px;
  margin: 10px
}

</style>
