<form method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="passwordRepeat" placeholder="password">
  <input type="submit" value="Register">
</form>
