<button>Sign up</button>
<a href='/login'><button>Login</button></a>
<form method="POST" action="/signup" style="display:block;">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="passwordConfirm" placeholder="Confirm Password">
  <input type="submit" name="submit" value="Signup">
</form>
