<h4> Welcome to Homazon!</h4>

<div> 
	<a href="/login">Login</a>
</div>	

<h2> {{errors}} </h2>

<h3>Create an account</h3>
<form method="POST">
	<div class="form-group">
	    <input type="text" name="username" class="form-control" placeholder="Name">
	</div>

	<div class = "form-group">
	    <input type="password" name="password" class="form-control" placeholder="Password">
	</div> 

	<div class="form-group">
	    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
	</div>

	<div class="form-group">
	    <input type="submit" value="Signup">
	</div>
</form>