<div>
  <form method="post">
<input type="text" name=username placeholder="Username" required><br></br>
<input type="password" name=password placeholder="Password" required><br></br>
<input type="password" name=confirmPassword placeholder="Confirm your password here!" required><br></br>
<input type="submit" value="sign up!">
</form>
<a href="/login">Login instead</a>
</div>
