<style>
  img{
    height:400px;
  }
  .panel{
    width:450px;
  }
  p{
    font-size: large;
  }


</style>
<div class="container">
  <div class="outer-panel panel panel-default" style="display:inline-flex">
    <img class="product-thumbnail" src="{{product.imageUri}}"/>
  </div>
  <form class="info" method="POST" action="/cart/add/{{product._id}}">
    <h2 class="title">{{product.title}}</h2>
    <p class="description">{{product.description}}</p>
    <input class="btn btn-primary" type="submit" value ="Add To Cart">
  </form>

</div>
