body {
    width: 100%;
    height: 100%;
    padding: 25px;
}

h1 {
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

.box {
    border: solid 5px black;
    padding: 10px;
    margin: 25px 0;
    height: 750px;
}

.inline {display: inline-block;}
.block {display: block;}

.textbox {
    height: 95%;
    border: solid #E2DFDF 1px;
    padding: 10px;
}

#error {
  color: red
}

#typing, #joined {
  background-color: #afafaf
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

#message {
  width: 40%;
  background-color: #e0e0e0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

#sender {
  width: 40%;
  background-color: #006aff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  float: right;
  color: white;
  clear: both;
  margin-left: 1000px
}

.username-label {
  color: #c1c1c1;
}

.typebox {
    width: 80%;
    margin: 5px 0;
    padding: 5px;
}

.submitbutton {
    background: #9ec3ff;
    width: 19%;
    height: 35px;
}

.inputbox {
    height: 5%;
}
