<section class="container">
  <h1 class="center">Socket.IO Examples</h1>
  <button class="inline submitbutton room" id="room1">Join room1</button>
  <button class="inline submitbutton room" id="room2">Join room2</button>
  <button class="inline submitbutton room" id="room3">Join room3</button>
  <div class="row message">
    <div class="col-md-6 box">
      <div class="textbox">
        <h3 class="room_name"></h3>
        <div class="username">
          <input class="inline typebox username_input" type="text" placeholder="type username">
          <button class="inline submitbutton" id="username_send">Send</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
var socket = io();
socket.on('connect', function() {
  console.log('Connected!');
});
$('.message').hide();
$('.room').on('click', function() {
  $('.message').show();
  $('.room_name').text("This is " + this.id)
  console.log('it is here ', this.id)
  socket.emit('room', this.id)
})
$('#username_send').on('click', function() {
  var username = $('.username_input').val();
  console.log(username)
  if (username) {
    $('.username').hide();
    $('.box').append('<div class="inputbox block"> \
                    <input class="inline typebox message_input" type="text" placeholder="Say Something..."> \
                    <button class="inline submitbutton" id="send">Send</button> \
    </div>')
    socket.emit('login', username)
  } else {
    alert("username cannot be empty")
  }
  $('#send').on('click', function() {
    var msg = $('.message_input').val();
    $('.message_input').val('');
    socket.emit('message', msg)
  })
})

socket.on('serverMessage', function(msg, username) {
  console.log("should update message", msg);
  $('.textbox').append('<p>' + username + " said "+ msg + '</p>')
})

socket.on('joiinedroom', function(username) {
  $('.textbox').append('<p style="color:red">' + username + " has joined" + '</p>')
})

</script>
