<section class="container">
  <h1 class="center">Socket.IO Examples</h1>

  <div class="row">
    <div class="col-md-6 box">
      <div class="textbox">
        <ul id="messagesList">

        </ul>
      </div>
      <div id="username-area" class="inputbox block">
        <input id="username" class="inline typebox" type="text" placeholder="Username...">
        <button id="username-send" class="inline submitbutton">Send</button>
      </div>
      <div id="message-area" class="inputbox block">
        <input id="message" class="inline typebox" type="text" placeholder="Say Something...">
        <button id="send" class="inline submitbutton">Send</button>
      </div>
    </div>
  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io("localhost:3000");
  // var socket = io(); ??
  socket.on('connect', function(){
    console.log('Connected');
    if(!socket.username){
      $('#message-area').hide();
    }
  })
  $('#send').click(function(){
    var msg = $('#message').val();
    console.log('You have inputed:', msg);
    socket.emit('message', msg);
    $('#message').val('');
  })


  $('#username-send').click(function(){
    if($('#username').val().length > 1) {
      var username = $('#username').val();
      // console.log('username inputted', username);
      socket.emit('login', username);
      $('#username-area').replaceWith(`<div id='username-area'><h3>${username}</h3></div>`);
      $('#message-area').show()
    } else {
      alert('please login with a username')
    }
  })

  socket.on('serverMessage', function(serverMsg){
    $('#messagesList').append(`<li>${serverMsg}</li>`);
  })

  socket.on('joinedRoom', function(joinedRoomMsg){
    console.log('joinedRoom works');
    $('#messagesList').append(`<li style="color: red">${joinedRoomMsg}</li>`)
  })

  socket.on('welcomeUser', function(welcomeUserMsg){
    $('#messagesList').append(`<li style="color: blue">${welcomeUserMsg}</li>`)
  })
</script>
