<section class="container">
  <h1 class="center">Socket.IO Examples</h1>
  <script src="/socket.io/socket.io.js"></script>

  <div class="row">
    <div class="col-md-6 box">
      <h2>Understanding WebSockets</h2>
      <p>The internet first began as a trove of information made easily accessible by a collection of HTML pages. This mechanism for information dissemination was just a bunch of static assets, not meant to be dynamic. But thanks to Microsoft the web was introduced to XMLHttpRequest and AJAX. Though this allowed webpages to become more dynamic, it didn't allow for true bi-directional communication between the client and the server. That's what WebSockets come in. Polling and Long Polling often leads to high network traffic and latency issues, but implementing WebSockets solves this problem by eradicating polling altogether. The WebSocket interface opens a communication channel between the client and server via a socket connection on the web, and both the client and server can send data at any time.</p>

      <h2>What is Socket.IO?</h2>
      <p>Socket.io is a library that allows for realtime, bi-directional communication between the client and server. It uses feature detection to figure out if the connection will be established via WebSockets, Long Polling, Flash, etc, though it primarily uses the WebSocket protocol.</p>

      <h2>Instructions</h2>
      <p>Follow the Socket.IO examples instructions at <a href="https://github.com/horizons-school-of-technology/week05/tree/master/day2/examples/README.md">https://github.com/horizons-school-of-technology/week05/tree/master/day2/examples/README.md</a></p>
    </div>
    <div class="col-md-6 box">
      <ul id='messageList'>

        <div id = 'text' class="textbox">
          <input id='username' class='inline typeboxUser' type='text' placeholder="Enter Username">
          <button id='submit' class="inline submitbutton">Submit</button>
        </div>

      </ul>

        <div class="inputbox block">
            <input id='msg' class="inline typebox" type="text" placeholder="Say Something...">
            <button id='send' class="inline submitbutton">Send</button>

        </div>
     </div>

    <script type="text/javascript">
      var socket = io('localhost:3000');
      $('#send').click(function(){
        var msg = $('#msg').val();
        $('#msg').val('');
        socket.emit('msg', msg)
      })
      socket.on('serverSide', function(serverMessage){ //listens to the even serverSide
        $('#text').append("<li> " + serverMessage + "</li>");
      })
      //username
      $('#submit').click(function(){
        var user = $('#username').val();
        socket.emit('user', user);
      });
      socket.on('loginEvent', function(username){
        $('#text').append(username);
      })
      socket.on('joinedRoom', function(username){
        $('#text').append('<li style="color: blue">'+username+ ' has joined the room.</li>')
      })
      socket.on('welcomeUser', function(username){
        $('#text').append('<li style="color: blue">'+username+ '</li>')
      })
    </script>

  </div>
</section>
