<section class="container">
  <h1 class="center">Socket.IO Examples</h1>

  <div class="row">
    <div id="loginBar" class="inputbox block">
      <input id="username" class="inline typebox" type="text" placeholder="Enter a username">
      <button id="loginbutton" class="inline submitbutton">Login</button>
    </div>
    <div class="col-md-6 box">
      <div class="textbox">
        <ul id="messagesList">
        </ul>
      </div>
      <div class="inputbox block">
        <input id="message" class="inline typebox" type="text" placeholder="Say Something...">
        <button id="send" class="inline submitbutton">Send</button>
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('connect', function() {
    $('#loginbutton').click(function() {
      console.log('logged in!')
      var user = $('#username').val()
      $('#loginBar').hide()
      socket.emit('username', user)
    })

    $('#send').click(function() {
      var msg = $('#message').val()
      $('#message').val('')
      socket.emit('message', msg)
    })

  });
  socket.on('serverMessage', function(serverMsg){
    $('#messagesList').append('<li>'+serverMsg+'</li>')
  })

  socket.on('joinedRoom', function(newUsername) {
    $('#messagesList').append('<li>'+newUsername+' has joined the chat.</li>')
  })
</script>
