<h1>Books</h1>

<a href="?{{prev}}" class="btn btn-default">Previous Page</a>
<a href="?{{next}}" class="btn btn-default">Next Page</a>

<table class="table table-striped table-bordered">
  <tr>
    <th>
      Title
    </th>
  </tr>
{{#each books}}
  <tr>
    <td>
      {{title}}
    </td>
  </td>
{{/each}}
</table>
