<h1>Books</h1>

<a class="btn btn-default" id='prev'>Previous Page</a>
<a class="btn btn-default" id='next'>Next Page</a>

<table class="table table-striped table-bordered">
  <tr>
    <th>
      Title
    </th>
  </tr>
{{#each books}}
  <tr>
    <td>
      {{title}}
    </td>
  </td>
{{/each}}
</table>
<script>
  var page = 0;
  $('#prev').click(function() {
    if (page > 0) {
      page--;
    }
    $(this).attr('href', "?page=" + page);
  });
  $('#next').click(function() {
    console.log(page);
    if (page < 5) {
      page++;
    }
    $(this).attr('href', "?page=" + page);
  });
</script>
