<h1>Books</h1>

{{!-- When on the first page, prev is page - 1, which is 0 , which is false,
so it's hidden. --}}
{{#if prev}}
<a href="?page={{prev}}" class="btn btn-default">Previous Page</a>
{{/if}}
{{!-- {{#if hasNext}}
 --}}<a href="?page={{next}}" class="btn btn-default">Next Page</a>
{{!-- {{/if}}
 --}}<table class="table table-striped table-bordered">
  <tr>
    <th>
      Title
    </th>
  </tr>
{{#each books}}
  <tr>
    <td>
      {{title}}
    </td>
  </td>
{{/each}}
</table>
