<h1>Add a new review!</h1>
<form method="post">
<textarea class="form-control" rows="5" name="content" placeholder="Review"></textarea>
<input type="text" name="stars" placeholder="stars">
<button type="submit" class="btn btn-default">Add Review</button>
</form>