<form method="POST">
	<input type="text" name="name" placeholder="Name"/>
	<input type="text" name="category" placeholder="Category"/>
	<input type="text" name="price" placeholder="Price"/>
	<input type="text" name="location" placeholder="Address"/>
	<input type="time" name="openTime" placeholder="Open Time"/>
	<input type="time" name="closingTime" placeholder="Closing Time"/>
	<input type="submit" value="Add Restaurant" />
</form>