<form method="post">
	<textarea type="text" name="content" placeholder="Review"></textarea>
	<input type="radio" name="stars" value="1">1
	<input type="radio" name="stars" value="2">2
	<input type="radio" name="stars" value="3">3
	<input type="radio" name="stars" value="4">4
	<input type="radio" name="stars" value="5">5
	<input type="submit" value="Add Review"/>
</form>
<a href='/restaurant/{{id}}'>Back</a>