<form class="form-horizontal" method="post">
  <div class="form-group">
    <div class="col-sm-10">
      <input name="content" type="textarea" class="form-control" placeholder="I don't care but go ahead and talk">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
       <select name="stars" class="form-control" requried>
          <option value="1">★☆☆☆☆</option>
          <option value="2">★★☆☆☆</option>
          <option value="3">★★★☆☆</option>
          <option value="4">★★★★☆</option>
          <option value="5">★★★★★</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit Review</button>
    </div>
  </div>
</form>