{{! YOUR CODE HERE }}

<form method="post">

   <input type="text" name="name" placeholder="Name"/>
   <input type="text" name="category"placeholder="Category"/>
   <input type="text" name="price" placeholder="Price"/>
   <input type="text" name="location" placeholder="Location"/>
   <input type="text" name="openTime" placeholder="Open Time"/>
   <input type="text" name="closingTime" placeholder="Closing Time"/>
   <input type="submit" name="btn btn-success" placeholder="Submit"/>



</form>
