<form method="post">
<input type = "text" name = "name" placeholder="names">
<input type = "text" name = "category" placeholder="cateegory">

<h3>Pricing</h3>
cupRamen:	<input type = "radio" name = "price" value="cupramen">
fuck my Wallet: <input type = "radio" name = "price" value="fuckmywallet">
fuck YOUR wallet: <input type = "radio" name = "price" value="fuckyourwallet">
	
<h3>Address</h3>
<input type = "text" name = "address" placeholder="address">
<h3>Times</h3>
Open time: <input type = "time" name = "openTime">
Close time: <input type = "time" name = "closeTime">

	<br>
<input type = "submit">


</form>