<form method="POST">
<input type = 'text' name = 'name' placeholder = "Name">
<input type = 'text' name = 'category'placeholder = "Category">
<input type = 'text' name = 'price' placeholder = "Price">
<input type = 'text' name = 'address' placeholder = "Address">
<input type = 'text' name = 'openTime' placeholder = "Opening Time">
<input type = 'text' name = 'closeTime'placeholder = "Closing Time">
<input type = 'submit' value ="Add Restaurant">
</form>