{{! YOUR CODE HERE }}
<form method="post">
	<input type="text" name="name" placeholder="Name" /> <br>
	<select name="category">
	  <option>Category</option>
	  <option value="Korean">Korean</option>
	  <option value="Italian">Italian</option>
	  <option value="Chinese">Chinese</option>
	  <option value="Mexican">Mexican</option>
	  <option value="BYO">BYO</option>
	</select> <br>
	<input type="text" name="price" placeholder="Price" /> <br>
	<input type="text" name="location"  placeholder="Address" /> <br>
	<input type="text" name="openTime" placeholder="Opening Time" /> <br>
	<input type="text" name="closeTime" placeholder="Closing Time" /> <br>
<p>	<input type="submit" value="Submit" /> </p>
</form>
<button class="btn btn primary"> <a href="/restaurants"> Return to all Restaurants </a> </button>