<form method="POST">

<h4>Content</h4>
<input type="text" value="{{review.content}}" name="content" class="form-control">

<h4>Stars</h4>
<input type="text" value="{{review.stars}}" name="stars" class="form-control">'

<button class="btn btn-success">Save review</button>
