<form method="post">
	<input type="text" name="name" placeholder="name" />
	<input type="text" name="category" placeholder="Category" />
	<input type="text" name="price" placeholder="price" />
	<input type="text" name="location"  placeholder="Address" />
	<input type="text" name="openTime" placeholder="Open Time" />
	<input type="text" name="closeTime" placeholder="Close Time" />

	<input type="submit" value="Add Restaurant" />
</form>
