<form method="POST">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="category" placeholder="Category">
  </div>
  <div class="form-group">
    <select class="form-control" name="price" required>
      <option value="" style="display: none;" disabled="disabled" selected="selected">Relative Price</font></option>
      <option value="1">$</option>
      <option value="2">$$</option>
      <option value="3">$$$</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="address" placeholder="Address">
  </div>
  <div class="form-group col-sm-6">
    <input type="text" class="form-control" name="openTime" placeholder="Open Time">
  </div>
  <div class="form-group col-sm-6">
    <input type="text" class="form-control" name="closeTime" placeholder="Close Time">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>