{{! YOUR CODE HERE }}

<form method="POST">
	<input type="text" name="name" placeholder="Name" />
	<input type="text" name="category" placeholder="Category" />
	<input type="number" name="price" placeholder="Relative Price" />
	<input type="text" name="location" placeholder="Address" />
	<input type="time" name="openTime" placeholder="Open Time" />
	<input type="time" name="closingTime" placeholder="Close Time" />
	<input type="submit" value="Add Restaurant" />
</form>