User: {{user.displayName}}
<a href="/restaurants"> <p> View Restaurants </p> </a>
<h2>Users:</h2>
{{#each users}}
<h4>Name:</h4>
<a href="/user/{{_id}}"> <p> {{displayName}} </p> </a>
<h4>Address:</h4>
<p>{{address}}</p>
{{/each}}
<a href="/logout"> Logout </a>