<h1>All users</h1>
<br>
<table class="table table-striped">
<tr>
	<th>Name</th>
	<th>Email</th>
	<th></th>
</tr>
{{#each users}}
<tr>
	<td>{{displayName}}</td>
	<td>{{email}}</td>
	<td><a class="btn btn-default btn-red" href="/user/{{_id}}">Visit profile</a></td>
</tr>
{{/each}}
</table>