<h4>Users:</h4>
{{#each users}}
<p>{{name}}</p>
<a class="btn btn-default" href="/profiles/{{_id}}">View profile</a></td>
<a class="btn btn-default" href="/restaurant/new">Add a restaurant</a></td>

{{/each}}