<h4>Users:</h4>
{{#each users}}
<p>{{name}}</p>
<a class="btn btn-default" href="/profiles/{{_id}}">View profile</a>
<a class="btn btn-default" href="/restaurant/new">Add a restaurant</a>
<a class="btn btn-default" href="/restaurants">View all restaurants</a>
{{/each}}