{{! YOUR CODE HERE }}

<h1> User Directory</h1>
<h2> Users {{users.length}}</h2>


{{#each users}}
<div>    <!--  can click on the user to go to their profile -->
  <h2><a href="/profile/{{_id}}">{{email}}</a></h2>
</div>
{{/each}}
