{{#each restaurants}}
<a href="/restaurants/{{_id}}">
    <form style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
        <p>{{name}}</p>
        <p>{{range}}</p>
    </form>
</a>
{{/each}}

<a href="/restaurants/new" style="float: right">Want to Add a Restaurant?</a>