<h1>{{rest.name}}</h1>
<p><b>Price Range:</b> {{rest.price}}</p>
<p><b>Cuisine:</b> {{rest.category}}</p>
<p><b>Address:</b> {{rest.address}}</p>
<p>Reviews: </p>
<form method="post">
<textarea rows="5" name="review" placeholder="Add Review"></textarea>
<input type="submit">
</form>