<link rel='stylesheet' href='/stylesheets/logo.css' />
<script type="text/javascript">
	if (!{{data}}) {window.location.replace('/')}
	$('nav').css('display','none')
	$('body').append('<div id="secret">\
						<a href="/">\
							<div id="logo">\
								<div id="left"></div>\
								<div id="center"></div>\
								<div id="right"></div>\
							</div>\
						</a>\
					</div>')
</script>

