<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="header">
      <a href="/cart">
        <img id="shopping-cart" src="https://www.goodfreephotos.com/albums/vector-images/shopping-cart-vector-clipart.png">
      </a>
    </div>
    <div class="body">
      {{{body}}}
    </div>
  </body>
</html>
