<div class="border">
  <div class="center-text">
    <h1> Login </h1>
  </div>
  <br>
  <div class="content-center"> 
    <form method="POST">
      <div class="form-group">
        <input type="text" name="username" placeholder="username">
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="password">
      </div>
      <div class="form-group">
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
</div>