body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.product-container, .cart-container{
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 50px;
}

.product-item, .cart-item{
  flex:1;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
}
