body {
  font: 14px "Avenir Next", Helvetica, Arial, sans-serif;
}
h2 {
	margin-top: 0px;
}
a {
  color: #00B7FF;
}
div.navbar-collapse ul, .navbar-form.navbar-left {
	display: flex;
	justify-content: flex-end;
}
.one-review {
	margin-bottom: 30px;
}
.navbar-form.navbar-left .form-group {
	width: 100%
}
.navbar {
	min-height: 60px;
}
.navbar-header {
	height: 58px;
}
.navbar-brand {
	padding: 0 0 0 10px;
}
.navbar-collapse > form {
	padding-top: 5px;
}
.loc {
	padding-left: 5px;
}
.follow {
	padding: 10px 0 0 10px;
}
.fo:hover {
	color: #339942;
}
.un:hover {
	color: #f50a25;
}
.level {
	display: flex;
	margin-bottom: 10px;
}
.navbar-nav.navbar-right {
	margin: 0;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right, .navbar-nav.navbar-right * {
		height: 60px;
	}
	#nav-collapse {
		padding-right: 0;
	}
	.restaurant-info {
	max-width: 275px;
}
}
@media (max-width: 767px) {
	.navbar-form.navbar-left {
		margin: 0;
		padding-top: 10px;
		border-top: 0;
	}
	.restaurant-container > .level {
		display: block;
	}
	.restaurant-container {
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	h2 {
		margin-top: 10px;
	}
	.level * {
		max-width: 300px;
	}
}
#network, #followers-following {
	display: flex;
	justify-content: space-between;
}
#network > div {
	padding-bottom: 20px;
}
#network h4 {
	color: #f50a25;
}
#masthead {
	margin-top: 3px;
	height: 50px;
}
#nav-search-button {
	width: 40px;
	height: 34px;
	margin-left: 5px;
}
#rating-score {
	display: none;
}
#rating span {
	color: #f50a25;
}
#pagination {
	position: fixed;
	top: 50vh;
	width: 90vw;
	left: 5vw;
}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
#radioBtn {
	display: flex;
}
#sort-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}
#sort-group > .form-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#secret {
	z-index: -2;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
}
