<p id="greeting">Welcome! Select a Room to join.</p>
<button id='roomOne'>Join Room 1</button>
<button id="roomTwo">Join Room 2</button>
<button id="poke">Poke!</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('connect', function() {
    console.log('Connected!');
  });

  socket.on('poke', function(msg) {
    $("#greeting").text(msg);
  })

  $("#roomOne").on('click', function() {
    socket.emit('joinRoom', 'roomOne');
    $("#greeting").text("Welcome to Room One!")
  });

  $("#roomTwo").on('click', function() {
    socket.emit('joinRoom', 'roomTwo');
    $("#greeting").text("Welcome to Room Two!")
  });

  $("#poke").on('click', function() {
    socket.emit('poke');
  });

</script>
