<p>Welcome! Select a Room to join.</p>

<form method="get" action="/room1">
    <button type="submit">Join Room 1!</button>
</form>

<form method="get" action="/room2">
    <button type="submit">Join Room 2!</button>
</form>
<button>Poke!</button>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('connect', function() {
    console.log('Connected!');
  });
</script>
