<p>Welcome! Select a Room to join.</p>
<a href="/room1"><button id="room1">Join Room 1</button></a>
<a href="/room2"><button id="room2">Join Room 2</button></a>
<button>Poke!</button>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('connect', function() {
    console.log('Connected!');
  });
  $('#room1').on('click',function(){
    socket.emit('room','room1');

  })



</script>
