<p>Welcome! Select a Room to join.</p>
<button id="room1">Join Room 1</button>
<button id="room2">Join Room 2</button>
<button id="poke">Poke!</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io("localhost:3000");
  var roomNumber = "";
  socket.on('connect', function() {
    console.log('Connected!');
  });
  $('#room1').on('click',function(event) {
    roomNumber = "room1";
    socket.emit('room',"room1")
  });
  $('#room2').on('click',function(event) {
    roomNumber = "room2";
    socket.emit('room',"room2")
  });

  $('#poke').on('click',function(event) {
    socket.emit('poked',roomNumber);
  })

  socket.on('poking',function(msg) {
    $('p').text(msg);
  })

  socket.on('message',function(msg) {
    $('p').text(msg);
  });
</script>
