<p id="header">You are in Room X</p>

<script>
  var socket = io();
  socket.on('connect', function() {
    console.log('Connected!');
    socket.emit('room')
  });

  socket.on('room', function(room){
    $('#header').text('Your are in Room: '+ room)
  })
</script>
