<p id = "room">X</p>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>


  var socket = io();
  socket.on('connect', function() {
    console.log('Connected!');
    //ask for a room from server.
    socket.emit('roomask')
  });


  //when you get response from the server update the id=room

    socket.on('roomask_response', function(room_num){
      console.log('hey')
      $('#room').text(room_num)
    })



</script>
